/* Import some Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Dancing+Script&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');

/* 
  Variables
*/  
:root {
  --sheetSpacing: 2vh;
}  

/*
Attempting to emulate the Ableton Push 2 style 
*/  
body {
  margin: 0;
  padding: 20px;
  overflow-y: auto;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

/* Page components */
section {
  position: absolute;
  top: 2.25vh;
}
article {
  position: absolute;
  right: 32vw;
  top: 0;
}
aside {
  padding: 20px;
  top: 3vh;
  right: 2.5vw;
  position: absolute;
  background-color: white;
  overflow-x: auto;
}

/* 
  Section
*/

/* Message */
#mensaje {
  font-size: 25px;
  color: white;
  margin: 5vh 3.5vw 0 15px;
}
/* Link to Github repository */
#mensaje a {
  color: rgb(30, 30, 250);
  font-size: 1.3rem;
}
/* Desktop use-only alert */
#desktop-alert { color: red; }

/* Slider styling */
div.slide-container {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 20.7vw;
}
input[type="number"] {
  width: 40px;
}
label[for="playback-speed"] {
  margin-right: 0.5rem;
}

/* Buttons for automatization functions */
button:hover {
  transform: translate(0, -1.3vh);
}
button:active {
  color: white;
  background-color: rgba(222, 0, 0, 0.75);
  box-shadow: 2px 4px 5px 4px rgba(222, 222, 11, 0.8);
}
.automatization {
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Dancing Script', cursive;
  width: 22vw;
  height: 5vh;
  border: none;
  color: black;
  margin-top: 3vh;
  background-color: rgb(112, 201, 237);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.25));
  border-radius: 20px;
  box-shadow: 2px 4px 5px 4px rgba(50, 240, 111, 0.7);
}

/* 
  Article
*/

/* Pseudo-guitar */
table {
  width: 40vw;
  height: 95vh;
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-spacing: 8px;
  font-family: sans-serif;
}
td {
  color: black;
  padding: 2px;
  vertical-align: middle;
  background-color: rgb(119, 116, 116);
  background-image: radial-gradient(rgb(112, 201, 237) 20%,rgb(119, 116, 116));
}
.pressed {
  background-color: none;
}

/* 
  Aside
*/

/* Progress bar */
#progress-zone {
  position : absolute;
  top: 5vh;
  right: 5vw;
  z-index: 3;
  color: black;
  font-size: 1.25rem;
  text-align: center;
}
#progress {
  width: 20vw;
}

/* Musical pentagram */
#pentagram {
  margin-top: 10vh;
  width: 25vw;
}
#rows {
  display: flex;
  flex-direction: column;
  gap: var(--sheetSpacing);
  z-index: -1;

}
hr {
  /* Fix that line does not get collapsed to a point */
  margin: 0;
  align-self: stretch;
}
.linea-invisible-pentagrama {
  visibility: hidden;
}
.linea-imaginaria-pentagrama {
  z-index: 1;
  border: .3vh dashed rgba(255,0,0,1);
  border-bottom: none;
}
.linea-imaginaria-pentagrama:nth-child(2n) {
  visibility: hidden;
}
.linea-real-pentagrama {
  z-index: 1;
  border: .3vh solid black;
  border-bottom: none;
}
.linea-real-pentagrama:nth-child(2n) {
  visibility: hidden;
}

/* Symbols for notes in sheet */
.natural-note {
  width: 2vh;
  height: 2vh;
  z-index: 2;
  left: 5%;
  top: 10.2%;
  position: absolute;
  border-radius: 100%;
  background-color: black;
}
.flat-note {
  width: 2vh;
  height: 2vh;
  z-index: 2;
  left: 5%;
  top: -20%; /* hide note */
  position: absolute;
  border-radius: 100%;
  background-color: black;
}
.flat-note::before {
  content: "♭";
  font-size: 25px;
  margin-left: -13px;
  position: absolute;
  margin-top: -15px;
  color: black;
}