/*
  Attempting to emulate the Ableton Push 2 style 
*/

body {
  margin: 0;
  padding: 20px;
  overflow-y: hidden;
  background-color: black;
}

/* Page components */
section {
  position: absolute;
  top: 2.25vh;
}
article {
  position: absolute;
  right: 32vw;
  top: 0;
}
aside {
  top: 4vh;
  right: 3.5vw;
  position: absolute;
}

/* 
  Section
*/
/* Message */
#mensaje {
  font-size: 25px;
  color: white;
  margin: 5vh 3.5vw 0 15px;
}
/* Link to Github repository */
#mensaje a {
  color: rgb(30, 30, 250);
  font-size: 1.3rem;
}

/* Slider styling */
div.slide-container {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

/* Buttons for automatization functions */
button:active {
  color: white !important;
  background-color: rgba(222, 0, 0, 0.75) !important;
}
.automatization {
  width: 20vw;
  height: 5vh;
  border: none;
  color: black;
  margin-top: 3vh;
  background-color: rgb(112, 201, 237);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.25));
  border-radius: 20px;
  box-shadow: 2px 4px 5px 4px rgba(50, 240, 111, 0.7);
}

/* 
  Article
*/
/* Pseudo-guitar */
table {
  width: 40vw;
  height: 95vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 2vh;
  border-spacing: 8px;
}
td {
  color: black;
  padding: 2px;
  vertical-align: middle;
  background-color: rgb(119, 116, 116);
  background-image: radial-gradient(rgb(112, 201, 237) 20%,rgb(119, 116, 116));
}
.pressed {
  background-color: none;
}


/* 
  Aside
*/
/* Progress bar */
#progress-zone {
  color: white;
  font-size: 1.25rem;
  text-align: center;
}
#progress {
  width: 20vw;
}
input[type="number"] {
  width: 40px;
}


/* Musical pentagram */
#pentagram {
  top: 2vh;
  width: 25vw;
  position: relative;
  overflow-x: scroll;
}
.linea-real-pentagrama {
  border: .3vh solid white;
  border-bottom: none;
  margin-bottom: 4vh;
  z-index: -1;
}
.linea-imaginaria-pentagrama {
  border: .3vh dashed rgba(255,0,0,1);
  border-bottom: none;
  margin-bottom: 4vh;
  z-index: -1;
}
.spacing {
  margin-bottom: 1%;
  z-index: -1;
}

/* Symbols for notes in sheet */
.natural-note {
  width: 2vh;
  height: 2vh;
  z-index: 1;
  left: 5%;
  top: 10.2%;  /* 33.75 => 28.25 */
  position: absolute;
  border-radius: 100%;
  background-color: rgb(112, 201, 237);
}
.flat-note {
  width: 2vh;
  height: 2vh;
  z-index: 1;
  left: 5%;
  top: -20%; /* hide note */
  position: absolute;
  border-radius: 100%;
  background-color: rgb(112, 201, 237);
}
.flat-note::before {
  content: "♭";
  font-size: 25px;
  margin-left: -13px;
  position: absolute;
  margin-top: -15px;
  color: rgb(112, 201, 237);
}